<h1>DBC Vantage Point</h1>

<form class="create_event" action="/create" method="POST">
  <input type="text" name="event[name]" placeholder="Event Name">
  <input type="text" name="event[tag]" placeholder="Hashtag #">
  <input type="submit">
</form>
<form action='/refresh' method="GET">
  <input type="submit" name="REFRESH">
</form>
<ul class="event_list"> 
  <% @all_events.reverse_each do |event| %> 
    <div class='event_format'>
      <p><a href="/event/<%= event.id %>"><%= event.name %></a></p>
      <% if event.images.first %>
      <a href="/event/<%= event.id %>"><img class="event_img" src="<%= event.images.first.url%>"></a>
      <% else %>
      <a href="/event/<%= event.id %>"><img class="event_img" src="http://www.worldofchemicals.com/Woclite/tmp/chem/no_image.gif"></a>
      <% end %>
    </div>
  <% end %>
</ul>

<!-- <div class="container">
  <h1>Welcome to VantagePoint!</h1>

  <form action="/create" method="POST" class="event_input">
      <label>Event Name: </label>
      <input type="text" name="event[name]">
      <label>Hashtag (no #): </label>
      <input type="text" name="event[tag]">
      <input type="submit">
  </form>

  <ul class="events"> 
    <% @all_events.each do |event| %> 
    <li> <a href="/event/<%= event.id %>"><%= event.name %></a></li>
    <% end %>
  </ul>

</div>
 -->
